{% extends 'base.html' %}


{% block body %} 
    
    <section class="container">
        <section class="aca-img">
        </section>
        <section class="main-txt">
            <h1>Songs for the Vibe</h1>
        </section>
    </section>
    <section class="links">
        <li><a href="https://music.apple.com/us/playlist/a-c-a-d-e-m-i-a-v-i-b-e-s/pl.u-leylNeRujVDPeyd" class="apple"><span class="label">Apple Music Playlist</span></a></li>
        <li><a href="https://open.spotify.com/playlist/7qoeU45v76Fdd9npyIQZJ8?si=c0e44660663849ea" class="spotify"><span class="label">Spotify Playlist</span></a></li>
    
    </section>
    <section class="song-container">
        <section class="songs">
            <h3 class="title">A House Full of Memories</h3>
            <h3 class="artist">John Abbot</h3>
        </section>
        <section class="songs">
            <h3 class="title">Clair de Lune</h3>
            <h3 class="artist">Claude Debussy</h3>
        </section>
        <section class="songs">
            <h3 class="title">Experience</h3>
            <h3 class="artist">I Virtuosi Italiani & Daniel Hope</h3>
        </section>
        <section class="songs">
            <h3 class="title">Je Te Laisserai Des Mots</h3>
            <h3 class="artist">Patrick Watson</h3>
        </section>
        <section class="songs">
            <h3 class="title">Merry-Go-Round of Life</h3>
            <h3 class="artist">Joe Hisaishi</h3>
        </section>
        <section class="songs">
            <h3 class="title">Nocturnal Waltz</h3>
            <h3 class="artist">Johannes Bornlöf</h3>
        </section>
        <section class="songs">
            <h3 class="title">Reflections</h3>
            <h3 class="artist">Toshifumi Hinata</h3>
        </section>
        <section class="songs">
            <h3 class="title">Sleeping Lotus</h3>
            <h3 class="artist">Joep Beving</h3>
        </section>
        <section class="songs">
            <h3 class="title">The French Library</h3>
            <h3 class="artist">Franz Gordon</h3>
        </section>
        <section class="songs">
            <h3 class="title">The Untold</h3>
            <h3 class="artist">Secession Studios</h3>
        </section>
    </section>
{% endblock %}