{% extends 'base.html' %}


{% block body %} 

<section class="container">
    <section class="cott-img">
    </section>
    <section class="main-txt">
        <h1>Songs for the Vibe</h1>
    </section>
</section>
<section class="links">
    <li><a href="https://music.apple.com/us/playlist/c-o-t-t-a-g-e-c-o-r-e-v-i-b-e-s/pl.u-RRbVzm5u3AaeBkD" class="apple"><span class="label">Apple Music Playlist</span></a></li>
    <li><a href="https://open.spotify.com/playlist/1Y86CHS7tyA6JcTruOrewf?si=99b129741d10457b" class="spotify"><span class="label">Spotify Playlist</span></a></li>

</section>
<section class="song-container">
    <section class="songs">
        <h3 class="title">Coastline</h3>
        <h3 class="artist">Hollow Coves</h3>
    </section>
    <section class="songs">
        <h3 class="title">Old Pine</h3>
        <h3 class="artist">Ben Howard</h3>
    </section>
    <section class="songs">
        <h3 class="title">Have We Met Before</h3>
        <h3 class="artist">Tom Rosenthal (feat. Fenne Lily)</h3>
    </section>
    <section class="songs">
        <h3 class="title">Heirloom</h3>
        <h3 class="artist">Sleeping At Last</h3>
    </section>
    <section class="songs">
        <h3 class="title">Here Comes the Sun</h3>
        <h3 class="artist">The Beatles</h3>
    </section>
    <section class="songs">
        <h3 class="title">Home</h3>
        <h3 class="artist">Chill The Duo</h3>
    </section>
    <section class="songs">
        <h3 class="title">Love Grows (Where My Rosemary Goes)</h3>
        <h3 class="artist">Edison Lighthouse</h3>
    </section>
    <section class="songs">
        <h3 class="title">Mr. Fox in the Fields</h3>
        <h3 class="artist">Alexandre Desplat</h3>
    </section>
    <section class="songs">
        <h3 class="title">Mystery of Love</h3>
        <h3 class="artist">Sufjan Stevens</h3>
    </section>
    <section class="songs">
        <h3 class="title">You're in Love</h3>
        <h3 class="artist">Joe Hisaishi</h3>
    </section>
</section>
  
{% endblock %}