{% extends 'base.html' %}


{% block body %} 
<section class="container">
    <section class="forest-img">
    </section>
    <section class="main-txt">
        <h1>Songs for the Vibe</h1>
    </section>
</section>
<section class="links">
    <li><a href="https://music.apple.com/us/playlist/f-o-r-e-s-t-v-i-b-e-s/pl.u-leylNjYujVDPeyd" class="apple"><span class="label">Apple Music Playlist</span></a></li>
    <li><a href="https://open.spotify.com/playlist/1bZIfehhnQsTfE4IHn5SNK?si=723b8b5cb0cd46b2" class="spotify"><span class="label">Spotify Playlist</span></a></li>

</section>
<section class="song-container">
    <section class="songs">
        <h3 class="title">Cherry Wine</h3>
        <h3 class="artist">Hozier</h3>
    </section>
    <section class="songs">
        <h3 class="title">Cover Your Tracks</h3>
        <h3 class="artist">A Boy and His Kite</h3>
    </section>
    <section class="songs">
        <h3 class="title">Dirty Paws</h3>
        <h3 class="artist">Of Monsters and Men</h3>
    </section>
    <section class="songs">
        <h3 class="title">Dog Days Are Over</h3>
        <h3 class="artist">Florence + the Machine</h3>
    </section>
    <section class="songs">
        <h3 class="title">Never Come Back Again</h3>
        <h3 class="artist">Austin Plaine</h3>
    </section>
    <section class="songs">
        <h3 class="title">Pierre</h3>
        <h3 class="artist">Ryn Weaver</h3>
    </section>
    <section class="songs">
        <h3 class="title">Take Yours</h3>
        <h3 class="artist">Matthew Mole</h3>
    </section>
    <section class="songs">
        <h3 class="title">These Memories</h3>
        <h3 class="artist">Hollow Coves</h3>
    </section>
    <section class="songs">
        <h3 class="title">Welcome Home, Son</h3>
        <h3 class="artist">Radical Face</h3>
    </section>
    <section class="songs">
        <h3 class="title">Woodland</h3>
        <h3 class="artist">The Paper Kites</h3>
    </section>
</section>

{% endblock %}