{% extends 'base.html' %}


{% block body %} 
<section class="info-main">
    <p id="info">Choose Your Vibe</p>
</section>
<section class="container">

        <button class="cyberpunk-btn" onclick="window.location.href='/cyberpunk'">
            <h1></h1>
        </button>
        <button class="rainy-btn" onclick="window.location.href='/rainy'">
            <h1></h1>
        </button>
        <button class="cottagecore-btn" onclick="window.location.href='/cottagecore'">
            <h1></h1>
        </button>
        <button class="academia-btn" onclick="window.location.href='/academia'">
            <h1></h1>
        </button>
        <button class="forest-btn" onclick="window.location.href='/forest'">
            <h1></h1>
        </button>
        <button class="summer-btn" onclick="window.location.href='/summer'">
            <h1></h1>
        </button>
        <footer></footer>
    </section>

  
{% endblock %}