{% extends 'base.html' %}

<title>Login</title>

{% block body %} 

<form class="form-signin" method="POST" action="/login">

    <h2 class="form-signin-heading">Welcome! Please Log In:</h2>
  
    <section class="form-group">
      <label for="email-field" class="sr-only">Email:</label>
      <input type="email"
             name="email"
             class="form-control input-lg"
             placeholder="Email Address"
             required
             autofocus>
    </section>
  
    <section class="form-group">
      <label for="password-field" class="sr-only">Password:</label>
      <input type="password"
             name="password"
             class="form-control input-lg"
             placeholder="Password"
             required>
    </section>
  
    <button class="btn btn-lg btn-primary btn-block" type="submit">Log In
    </button>
  
{% endblock %}