{% extends 'base.html' %}


{% block body %} 
<section class="container">
    <section class="rainy-img">
    </section>
    <section class="main-txt">
        <h1>Songs for the Vibe</h1>
    </section>
</section>
<section class="links">
    <li><a href="https://music.apple.com/us/playlist/r-a-i-n-y-d-a-y-v-i-b-e-s/pl.u-b3b81Z4hyW83bMP" class="rainy-apple"><span class="label">Apple Music Playlist</span></a></li>
    <li><a href="https://open.spotify.com/playlist/5l86VPaoJheiSbWilWvLwo?si=99d4af2184654f68" class="rainy-spotify"><span class="label">Spotify Playlist</span></a></li>

</section>
<section class="song-container">
    <section class="songs">
        <h3 class="title">Anchor</h3>
        <h3 class="artist">Novo Amor</h3>
    </section>
    <section class="songs">
        <h3 class="title">Bones</h3>
        <h3 class="artist">Dotan</h3>
    </section>
    <section class="songs">
        <h3 class="title">I Wanted To Leave</h3>
        <h3 class="artist">SYML</h3>
    </section>
    <section class="songs">
        <h3 class="title">Motives</h3>
        <h3 class="artist">Davis John Patton</h3>
    </section>
    <section class="songs">
        <h3 class="title">Only</h3>
        <h3 class="artist">RY X</h3>
    </section>
    <section class="songs">
        <h3 class="title">Rosyln</h3>
        <h3 class="artist">St. Vincent & Bon Iver</h3>
    </section>
    <section class="songs">
        <h3 class="title">State Lines</h3>
        <h3 class="artist">Novo Amor</h3>
    </section>
    <section class="songs">
        <h3 class="title">The Gold</h3>
        <h3 class="artist">Manchester Orchestra & Phoebe Bridgers
    </section>
    <section class="songs">
        <h3 class="title">The Night We Met</h3>
        <h3 class="artist">Lord Huron</h3>
    </section>
    <section class="songs">
        <h3 class="title">Where's My Love (Acoustic)</h3>
        <h3 class="artist">SYML</h3>
    </section>
</section>
  
{% endblock %}