{% extends 'base.html' %}


{% block body %} 

<form class="form-signup" method="POST" action="signup">

    <h2 class="form-signup-heading">Welcome! Sign Up Below:</h2>
  

    <section class="form-group">
        <label for="fname-field" class="sr-only">First Name:</label>
        <input type="text"
               name="fname"
               class="form-control input-lg"
               placeholder="First Name"
               required
               autofocus>
    </section>

    <section class="form-group">
    <label for="lname-field" class="sr-only">Last Name:</label>
    <input type="text"
            name="lname"
            class="form-control input-lg"
            placeholder="Last Name"
            required
            autofocus>
    </section>

    <section class="form-group">
        <label for="username-field" class="sr-only">Username:</label>
        <input type="varchar"
               name="username"
               class="form-control input-lg"
               placeholder="Username"
               required
               autofocus>
    </section>
    
    <section class="form-group">
      <label for="email-field" class="sr-only">Email:</label>
      <input type="email"
             name="email"
             class="form-control input-lg"
             placeholder="Email Address"
             required
             autofocus>
    </section>
  
    <section class="form-group">
      <label for="password-field" class="sr-only">Password:</label>
      <input type="password"
             name="password"
             class="form-control input-lg"
             placeholder="Password"
             required>
    </section>
  
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up
    </button>
  
{% endblock %}