{% extends 'base.html' %}


{% block body %} 
<section class="container">
    <section class="summer-img">
    </section>
    <section class="main-txt">
        <h1>Songs for the Vibe</h1>
    </section>
</section>
<section class="links">
    <li><a href="https://music.apple.com/us/playlist/s-u-m-m-e-r-v-i-b-e-s/pl.u-BNA6y73T1VNRMK6" class="apple"><span class="label">Apple Music Playlist</span></a></li>
    <li><a href="https://open.spotify.com/playlist/5TeLViO5nCkRUajPIlRyeF?si=b0fea98586fe4e4c" class="spotify"><span class="label">Spotify Playlist</span></a></li>

</section>
<section class="song-container">
    <section class="songs">
        <h3 class="title">As It Was</h3>
        <h3 class="artist">Harry Styles</h3>
    </section>
    <section class="songs">
        <h3 class="title">Blinding Lights</h3>
        <h3 class="artist">The Weeknd</h3>
    </section>
    <section class="songs">
        <h3 class="title">Can I Call You Tonight?</h3>
        <h3 class="artist">Dayglow</h3>
    </section>
    <section class="songs">
        <h3 class="title">Electric Love</h3>
        <h3 class="artist">BØRNS</h3>
    </section>
    <section class="songs">
        <h3 class="title">Magic in the Hamptons</h3>
        <h3 class="artist">Social House (feat. Lil Yachty)</h3>
    </section>
    <section class="songs">
        <h3 class="title">Midnight City</h3>
        <h3 class="artist">M83</h3>
    </section>
    <section class="songs">
        <h3 class="title">No Money</h3>
        <h3 class="artist">Galantis</h3>
    </section>
    <section class="songs">
        <h3 class="title">Tongue Tied</h3>
        <h3 class="artist">Grouplove</h3>
    </section>
    <section class="songs">
        <h3 class="title">Team</h3>
        <h3 class="artist">Lorde</h3>
    </section>
    <section class="songs">
        <h3 class="title">You Know It</h3>
        <h3 class="artist">Colony House</h3>
    </section>
</section>
{% endblock %}